.songlist {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .song-card {
    padding: 10px;
    margin: 10px;
    min-height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;

    &:hover {
      background-color: #5f4f67;
    }
  }
}
