:root {
  --track-list-bg: #4c3f52;
  --track-list-bg-highlight: #5f4f67;
  --track-list-font-col: white;
  --track-list-scrollbar: rgba(0, 0, 0, 0.25);

  --control-panel-bg: linear-gradient(to bottom, #582da7, #d76d77, #ffaf7b);
  --control-panel-icon: #273b4a;
  --control-panel-icon-highlight: #9a69f5;
  --control-panel-timeline-bg: #273b4a;
  --control-panel-timeline-fill: #9a69f5;
  --control-panel-font-col: #273b4a;
  --control-panel-button-toggle-enabled: white;
}
