.control-panel {
  background: linear-gradient(to bottom, #582da7, #d76d77, #ffaf7b);
  padding: 0px 10px 0px 10px;
  color: #273b4a;

  .wrapper {
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100vh;

    .top,
    .bottom {
      margin-left: auto;
      padding: 10px;
    }

    .bottom {
      svg {
        padding-left: 15px;
      }
    }

    .content {
      display: grid;
      grid-template-rows: 30px auto;
      height: fit-content;
      margin: auto;

      &__title {
        margin: auto;
      }

      &__buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;

        &__play,
        &__back,
        &__forward {
          padding: 20px;
        }

        &__back,
        &__forward {
          margin-top: 7px;
        }
      }
    }
  }
}
