.control-panel {
  background: linear-gradient(to bottom, #582da7, #d76d77, #ffaf7b);
  padding: 0px 10px 0px 10px;
  color: #273b4a;

  .wrapper {
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100%;

    .top,
    .bottom {
      margin-left: auto;
      padding: 10px;

      .loop-enabled,
      .loop-disabled,
      .shuffle-enabled,
      .shuffle-disabled,
      .settings-btn {
        padding-left: 15px;

        &:hover {
          cursor: pointer;
          color: #9a69f5;
        }
      }

      .loop-enabled,
      .shuffle-enabled {
        color: white;
      }
    }

    .content {
      display: grid;
      grid-template-rows: 30px auto;
      height: fit-content;
      margin: auto;

      &__title {
        margin: auto;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
      }

      &__buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;

        &__play,
        &__back,
        &__forward {
          padding: 20px;

          &:hover {
            cursor: pointer;
            color: #9a69f5;
          }
        }

        &__back,
        &__forward {
          margin-top: 7px;
        }
      }

      &__elapsed {
        text-align: center;
      }
    }
  }
}
