.control-panel {
  background: var(--control-panel-bg);
  padding: 0px 10px 0px 10px;

  .wrapper {
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100%;

    .top,
    .bottom {
      margin-left: auto;
      padding: 10px;

      .loop-enabled,
      .loop-disabled,
      .shuffle-enabled,
      .shuffle-disabled,
      .settings-btn {
        padding-left: 15px;
        color: var(--control-panel-icon);

        &:hover {
          cursor: pointer;
          color: var(--control-panel-icon-highlight);
        }
      }

      .loop-enabled,
      .shuffle-enabled {
        color: var(--control-panel-button-toggle-enabled);
      }
    }

    .content {
      display: grid;
      grid-template-rows: 30px auto;
      height: fit-content;
      margin: auto;
      color: var(--control-panel-font-col);

      &__title {
        margin: auto;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
      }

      &__buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: auto;
        color: var(--control-panel-icon);

        &__play,
        &__back,
        &__forward {
          padding: 20px;

          &:hover {
            cursor: pointer;
            color: var(--control-panel-icon-highlight);
          }
        }

        &__back,
        &__forward {
          margin-top: 7px;
        }
      }

      &__elapsed {
        flex-direction: row;
        display: flex;
        align-items: center;


        &__bar {
          width: 165px;
          height: 15px;
          margin: 0px 10px 0px 10px;
          border-radius: 15px;
          background-color: var(--control-panel-timeline-bg);

          &:hover {
            cursor: pointer;
          }

          &__filled {
            background-color: var(--control-panel-timeline-fill);
            height: inherit;
            border-radius: inherit;
          }
        }

        .tooltip {
          position: absolute;
          background-color: #333;
          color: #fff;
          padding: 5px;
          border-radius: 3px;
          font-size: 12px;
          pointer-events: none;
        }
      }
    }
  }
}
